#ptt1 {
  font-style: italic;
}
#htt2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: grey;
}
#ptt2 {
  color: darkgrey;
  font-size: 15px;
}
#htt3 {
  color: peachpuff;
}
